body { color: #555; font-size: 19px; line-height: 1.5em}
h1, h2, h3, h4, .date, footer { color: #F33; display: inline; font-family:Georgia, Times, serif; font-weight:500; margin:0; }
ul, li, ol { margin-left: 0.66em; padding:0; }
header, footer, section, article { display:block; }
#stripe {width:100%; background-image: url('colors.jpg'); height: 40px; }

#name {  white-space: nowrap; margin-top:80px; color: #999; font-family: calibri,tahoma,arial,sans-serif; font-weight: 100; letter-spacing: 0.2em; }
#name b { color: #222; font-weight: 900; }
#name a { color: inherit; text-decoration: none; }
#social { display: block; margin-top: 1em; }

.content p:first-child:first-letter { color: #994; float: left; font-size: 3.5em; height: .7em; line-height: .85em; line-height: 1em; margin: 0 0 -5px 0; padding: 0 .1em 0 0; }
article { padding-bottom: 1.5em; padding-right: 0.8em; }

#caption { font-size: 24px; margin: -135px 0 0 70px; position: absolute; }
.date { float: right; font-style: italic; font-variant: small-caps; margin-right: -180px; margin-top: 2em; }
a { color: #6FBE44; text-decoration: none; }
h1, h1 a { color: #222; font-size: 1.4em; text-decoration: none; }
h1 { display: block; line-height: 140px; margin-bottom: 20px; padding-top: 30px; }
blockquote p { border-left: 2px solid gray; font-style: italic; padding: 1em; }